@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>Hello!!!
    We can help you to search for an information that you need.
    The only thing you should do is to insert number, name, or adress and we will show you the results.</p>
