@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Home Company<br />
    Macedonia, Skopje, KiselaVoda 4/21<br />
    <abbr title="Phone">P:</abbr>
    078261552
</address>

