
@{
    ViewBag.Title = "E-Book Addresser";
}

<div class="jumbotron">
    <h1>E-Book Addresser</h1>
    <p class="lead">Here you can find, information about your friends, colleagues, or companies you are intend to contact.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Search their address</h2>
        <p>
            Our webservice, provides legal information, about contact with many people and companies. 
        </p>

    </div>
    <div class="col-md-4">
        <h2>We encourige you to contact us!</h2>
        <p>We offer to you a great solution for your needs! If you have some aditional questioons about our company please call us on 078-261-552!!!!!!!</p>


    </div>
    <div class="col-md-4">
        <h2>Something about our team!!</h2>
        <p>We are really dedicated, to the work what are we working on. Young Passionate team of talented people.</p>

    </div>
</div>